In [11]:
list2=[1,-15,10,'abc','def','bcd','ABC']
b= set(list2)

In [7]:
b

{-15, 1, 10, 'ABC', 'abc', 'bcd', 'def'}

In [17]:
#b.sort(reverse="True")

### Print Formatting

In [36]:
print('This is a float %10.3f' %(13.3495293487))

This is a float     13.350

In [40]:
# String , integer and floading point
print("Sum of %s and %d is %f:" %(2.5,3.2,5.7))

Sum of 2.5 and 3 is 5.700000:

In [41]:
print("Sum of {} and {} is {}:".format(2.5,3.2,5.7))

Sum of 2.5 and 3.2 is 5.7:

In [43]:
print("THe {2} {1} {0}".format("fox","brown","quick"))

THe quick brown fox

In [45]:
#User Input
a = int(input('Enter any number in a'))
print("a=",a)

Enter any number in a10
a= 10

In [51]:
a= enumerate('abcde')
b=list(a)
b

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [55]:
for i,letter in enumerate('abcde'):
    print("{},{}".format(i,letter))

0,a
1,b
2,c
3,d
4,e

In [1]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = ['11',12,'14',16]
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', '11'), (2, 'b', 12), (3, 'c', '14')]

In [15]:
#Reading files
import pandas as pd
data = pd.read_csv('D:/Work/Machine Learning/ISL-python-master/Notebooks/data/Advertising.csv')

In [8]:
data = pd.read_table('D:/Work/Machine Learning/ISL-python-master/Notebooks/data/Advertising.csv',sep=',',header=None)

In [19]:
data

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [46]:
%%time #Check exeucution time
data = pd.read_table('D:/Work/Machine Learning/ISL-python-master/Notebooks/data/Advertising.csv',sep=',',skiprows=[1,2,3])
data
pd.isnull(data)

Wall time: 14.5 ms

     Unnamed: 0     TV  radio  newspaper  sales
0         False  False  False      False  False
1         False  False  False      False  False
2         False  False  False      False  False
3         False  False  False      False  False
4         False  False  False      False  False
..          ...    ...    ...        ...    ...
192       False  False  False      False  False
193       False  False  False      False  False
194       False  False  False      False  False
195       False  False  False      False  False
196       False  False  False      False  False

[197 rows x 5 columns]

In [41]:
data = pd.read_table('D:/Work/Machine Learning/ISL-python-master/Notebooks/data/Advertising.csv',sep=',',
                     names=['Sl','TV','Radio','Newspaper','Sales'],
                     index_col=0,header=0,na_values=['NULL'],
                     skiprows=[0,1,2],nrows=5,thousands=',')
data

       TV  Radio  Newspaper  Sales
Sl
4   151.5   41.3       58.5   18.5
5   180.8   10.8       58.4   12.9
6     8.7   48.9       75.0    7.2
7    57.5   32.8       23.5   11.8
8   120.2   19.6       11.6   13.2

In [60]:
#!pip install nb_black
#!pip install --upgrade pip --user

In [ ]:
#Writing to a csv file
#data.to_csv('path/filename.ext')

In [68]:
#Write data to standard output
import sys
#data.to_csv(sys.stdout,sep=' ')

In [105]:
#csv function
import csv
f= open('D:/Work/Machine Learning/ISL-python-master/Notebooks/data/Advertising.csv')
reader = csv.reader(f, delimiter=',')
reader
type(reader)
#help(csv)

_csv.reader

In [2]:
#Other functions
'''
import json
a= json.loads(object)
b= json.dumps(object)
read_json()
to_json()
'''

'\nimport json\na= json.loads(object)\nb= json.dumps(object)\nread_json()\nto_json()\n'

## XML AND HTML : WEB SCRAPING

##Class

In [33]:
#HOw to create a Class ,Convemtion start with a capital name
class Sample:
    pass

#Create an instance from a class, Instantiation of a class
x = Sample()
print(type(x))

<class '__main__.Sample'>

In [23]:
class Dog:
    #init gets executed when we create an instance, its a constructor
    # init methrod can have multiple attributes.
    #__init__ stores all the properties/attributes...
    def __init__(self,breed): #constructor, breed is an attribute, has no arguments
        self.breed = breed

rocky = Dog(breed= "Lab")
frank = Dog(breed= "Husky")
print("rocky is a {}".format(rocky.breed))
print("frank is a {}".format(frank.breed))
rocky.breed ,frank.breed

rocky is a Lab
frank is a Husky

('Lab', 'Husky')

In [32]:
#Class object attributes are same of all the instances for the class
# are defined before the method
class Dog:
    species = 'Mammal'
    found = 'Earth'
    def __init__(self,breed,name):
        self.breed = breed
        self.name = name
        
rocky = Dog('Lab','Rocky')
rocky.species,rocky.found,rocky.breed,rocky.name

('Mammal', 'Earth', 'Lab', 'Rocky')

In [44]:
#Methods are funcutions defined inside the body of a class. Or functions 
#actinon an object that take the object intelf into account through self argument
#They performa operations with attributes of the object

class Circle:
    pi = 3.14 #attribute
    #circle gets instantiated with a radius ( default is 1)
    def __init__(self,radius=1):
        self.radius = radius
        self.area = radius * radius * Circle.pi
        
    #Method for calculating Circumferance, method needs to be called 
    #explicitly , as opposed to __init__
    def circum(self):
        return 2* self.pi * self.radius 

c = Circle(5)

c.radius, c.area, c.circum()

(5, 78.5, 31.400000000000002)

In [76]:
#inheritance
# is a way to create new classes using classes called base or ancestor classes, new class is 
#called derived class or descendent class.
# for code reuse, chnage or add functionality of existing class
class Animal:
    def __init__(self):
        print("Animal created")
    def whoAmI(self):
        print("Animal")
    def eat(self):
        print('Eating')

class Dog(Animal):
    def __init__(self):
        Animal.__init__(self) #Important
        print('DOg created')
    def whoAmI(self):
        print('Dog')
    def bark(self):
        print('Woof')
        
d = Dog()
d.whoAmI()
d.eat()
d.bark()

a = Animal()
a.whoAmI()
a.eat()
#a.bark() # does not work

Animal created
DOg created
Dog
Eating
Woof
Animal created
Animal
Eating

#Polymorphism
''''
In programming, polymorphism means the same function name (but different 
signatures) being used for different types.
Polymorphism with Inheritance: 
In Python, Polymorphism lets us define methods in the child class
that have the same name as the methods in the parent class.
In inheritance, the child class inherits the methods from the 
parent class. However, it is possible to modify a method in a
child class that it has inherited from the parent class. 
This is particularly useful in cases where the method inherited 
from the parent class doesn’t quite fit the child class. In such cases,
we re-implement the method in the child class. This process of re-implement
ing a method in the child class is known as Method Overriding. 
''''''

In [1]:
#Abstract class an inheritance, Abstract class is one that never expects to be 
#instantiated
#Meaning the partent class should not have , only child class should ?
class Animal:
    def __init__(self,name):
        self.name =name
    def speak(self):  #Abstract method, defined by convention
        raise NotImplementedError("Subclass must implemtn abstract metohd")
class Dog(Animal):
    def speak(self):
        return self.name + ' says Woof'
class Cat(Animal):
    def speak(self):
        return self.name + ' says Meow'

fido = Dog('Fido')
isis = Cat('Isis')
anim = Animal('ANimal')
fido.speak() , isis.speak(), anim.speak()

NotImplementedError: Subclass must implemtn abstract metohd

In [23]:
### Regular expressions

In [41]:
import re
text ="My phone is a new phone"
pattern = "phone"
match = re.search(pattern,text)
match ,match.span() , match.start() , match.end()

(<re.Match object; span=(3, 8), match='phone'>, (3, 8), 3, 8)

In [33]:
positions = re.findall(pattern,text)
positions
#Find all the positions of match
for i in re.finditer(pattern,text):
    print(i.span())

(3, 8)
(18, 23)

In [13]:
# ^ is used to exclude something
phrase = 'THis is a string! But punctuatiuons . remove it and 34?'
re.findall(r'[^!.,?]+', phrase)

['THis is a string', ' But punctuatiuons ', ' remove it and 34']

In [21]:
#remove numbers 
#re.findall(r'[^\d]', phrase)
clean = ''.join(re.findall(r'[^!?.,\d]+', phrase))
clean

'THis is a string But punctuatiuons  remove it and '

In [42]:
#Brackets for grouping - Hyphenated words
text = 'Only find the hypeh-words. But not-long wirds'

###Pandas