## Dictionaries

In [1]:
my_dict = {'key1':'value1','key2':'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key2']

'value2'

In [4]:
my_dict = {'key1':123,'key2':[1,2,3,4],'key3':'item3'}

In [5]:
my_dict

{'key1': 123, 'key2': [1, 2, 3, 4], 'key3': 'item3'}

In [6]:
my_dict['key2']

[1, 2, 3, 4]

In [7]:
my_dict['key2'][3]

4

In [8]:
my_dict['key3'] = 'Pratul'

In [9]:
my_dict

{'key1': 123, 'key2': [1, 2, 3, 4], 'key3': 'Pratul'}

In [10]:
d = {}

In [11]:
d['animal'] = 'Dog'
d

{'animal': 'Dog'}

In [12]:
d['mammal'] = 'humans'
d

{'animal': 'Dog', 'mammal': 'humans'}

In [13]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [14]:
d['key1']['nestkey']['subnestkey']

'value'

In [15]:
d = {'key1':1,'key2':2,'key3':3}

In [16]:
list(d.keys())

['key1', 'key2', 'key3']

In [17]:
tuple(d.values())

(1, 2, 3)

In [18]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

## Sets and Boolean

In [19]:
x = set()

In [20]:
x.add(1)

In [21]:
x.add(2)

In [22]:
x.add(3)

In [23]:
x

{1, 2, 3}

In [24]:
list1 = [1,1,2,2,3,4,5,-6,7,7,-7,8,-8,8,8]

In [25]:
set(list1)

{-8, -7, -6, 1, 2, 3, 4, 5, 7, 8}

In [26]:
list2 = [1,-15,-10,'abc','def','bcd','ABC','BCD','ZAB']
tuple(set(list2))

(1, 'ZAB', -15, 'bcd', 'abc', -10, 'BCD', 'def', 'ABC')

In [27]:
a = True

In [28]:
a

True

In [29]:
a = False

In [30]:
a

False

In [31]:
b = None

In [32]:
b

## Print Formatting

In [33]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [34]:
print("I'm going to inject %s here, and %s here." %('something','as well'))

I'm going to inject something here, and as well here.

In [35]:
print('I wrote %s programs today.'%3.75)

I wrote 3.75 programs today.

In [36]:
print('I wrote %d programs today.'%3.75)

I wrote 3 programs today.

In [37]:
print('Floating point number: %20.3f'%(13.1442223333))

Floating point number:               13.144

In [38]:
print('This is a string with {} an'.format('insert'))

This is a string with insert an

In [39]:
print('This is a string with {} an'.format('insert'))

This is a string with insert an

In [40]:
print('This is a {} string with {} an'.format('insert1','insert2'))

This is a insert1 string with insert2 an

In [41]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [42]:
# User input
a = int(input('Enter the value of a: '))
print('Printing a:',a)

Enter the value of a: 111
Printing a: 111

## LOOPS

#### if, elif and else

In [43]:
if True:
    print('It was True')

It was True

In [44]:
x  = True

if x:
    print('x was True') # it will print for true condition
else:
    print('X is actually False')

x was True

In [45]:
loc = 'gang'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop')
elif loc == 'bank':
    print('Welcome to the bank')
elif loc == 'gang':
    print('This will be printed')
else:
    print('Where are you')

This will be printed

In [46]:
2>3

False

In [47]:
2>=3

False

### For Loops

In [48]:
list1 = [1,2,2,3,4,5,5,6,6,7,8,8,9,10]

In [49]:
for abc in list1:
    print(abc)

1
2
2
3
4
5
5
6
6
7
8
8
9
10

In [50]:
10 % 2

0

In [51]:
11 % 2

1

In [52]:
list1

[1, 2, 2, 3, 4, 5, 5, 6, 6, 7, 8, 8, 9, 10]

In [53]:
for i in list1:
    if i % 2 == 1:
        print('This is an odd numbers :', i)

This is an odd numbers : 1
This is an odd numbers : 3
This is an odd numbers : 5
This is an odd numbers : 5
This is an odd numbers : 7
This is an odd numbers : 9

In [54]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
list2 = list(range(1,11,1))

list_sum = 0

for num in list2:
    list_sum = list_sum + num

print(list_sum)

55

In [56]:
list(range(1,1002,100))

[1, 101, 201, 301, 401, 501, 601, 701, 801, 901, 1001]

In [57]:
list(range(1001,0,-100))

[1001, 901, 801, 701, 601, 501, 401, 301, 201, 101, 1]

In [58]:
for a in 'This is a string':
    print(a)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [59]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

### While Loop

In [60]:
x = 0
while x < 10: # Loop will go on until or unless this condition is satisfied
    x = x+1
    print('The looped value for x:', x)

The looped value for x: 1
The looped value for x: 2
The looped value for x: 3
The looped value for x: 4
The looped value for x: 5
The looped value for x: 6
The looped value for x: 7
The looped value for x: 8
The looped value for x: 9
The looped value for x: 10

In [61]:
loc ='shop'
    
if loc == 'autoshop':
    print('this is a autoshop') 
else:
    print('this is not autoshop')

this is not autoshop

In [62]:
j=1
while j<3:
    print(j)
    j=j+1

1
2

## Useful Operator

In [63]:
index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [67]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [65]:
for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [78]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e','f']
mylist3 = ['11','22','33','44','55','66','77']

In [79]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', '11'),
 (2, 'b', '22'),
 (3, 'c', '33'),
 (4, 'd', '44'),
 (5, 'e', '55')]

In [82]:
for item1,item2,item3 in zip(mylist1,mylist2,mylist3):
    print('for the tuple was {} and second item was {} and third item was {}'.format(item1,item2,item3))

for the tuple was 1 and second item was a and third item was 11
for the tuple was 2 and second item was b and third item was 22
for the tuple was 3 and second item was c and third item was 33
for the tuple was 4 and second item was d and third item was 44
for the tuple was 5 and second item was e and third item was 55

In [83]:
'x' in ['x','y','z']

True

In [85]:
'x' not in [1,2,3]

True

In [86]:
mylist = [10,20,30,40,50]

In [87]:
max(mylist)

50

In [89]:
min(mylist)

10

In [91]:
sum(mylist)

150

In [122]:
def Average(mylist):
    return sum(mylist)/len(mylist)

In [123]:
Average(mylist)

30.0

### List Comprehension

In [101]:
lst = [x for x in 'word']

In [102]:
lst

['w', 'o', 'r', 'd']

In [114]:
lst = [x**4 for x in range(0,11)]

In [115]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [109]:
lst = [x for x in range(0,20) if x % 2 == 0]

In [110]:
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [111]:
celcius = [0,10,20.1,34.5]

f = [((9/5)*t + 32) for t in celcius]

f

[32.0, 50.0, 68.18, 94.1]

In [116]:
lst = [((9/5)*x + 32) for x in [x**2 for x in range(11)]]

In [117]:
lst

[32.0, 33.8, 39.2, 48.2, 60.8, 77.0, 96.8, 120.2, 147.2, 177.8, 212.0]

In [119]:
[x**2 for x in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Function

1.def keywords
2.example
3.calling
4.parameters
5.print vs return
6.inserting

In [124]:
def name(arg1,arg2):
    '''The Doc string will be
    Created
    '''
    # Do something
    # Return the result

In [125]:
def say_hello():
    print('hello')

In [126]:
say_hello()

hello

In [127]:
say_hello

In [128]:
len

In [129]:
def greeting(name):
    print(f'Hello{name}')

In [131]:
greeting(' Pratul')

Hello Pratul

In [132]:
def add_num(num1,num2):
    return num1+num2

In [133]:
add_num

In [134]:
add_num(10,20)

30

In [135]:
add_num('ABC','DEF')

'ABCDEF'

In [140]:
def print_result(a,b):
    print(a+b)

In [138]:
def return_result(a,b):
    return a+b

In [141]:
print_result(10,5)

15

In [142]:
return_result(10,5)

15

In [143]:
my_result = print_result(10,5)

15

In [144]:
my_result

In [145]:
my_result = return_result(10,5)

In [146]:
my_result

15

In [147]:
def even_check(number):
    return number % 2 == 0

In [148]:
even_check(20)

True

In [149]:
even_check(21)

False

In [156]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [157]:
check_even_list([1,2,3])

True

In [158]:
check_even_list([1,1,3])

In [159]:
stock_prices = [('Apple',200),('Google',100),('Msft',50)]

In [160]:
for item in stock_prices:
    print(item)

('Apple', 200)
('Google', 100)
('Msft', 50)

In [161]:
for stock,price in stock_prices:
    print(price)

200
100
50

In [162]:
for stock,price in stock_prices:
    print(stock)

Apple
Google
Msft

In [164]:
work_hours = [('A',100),('B',200),('C',400)]

In [169]:
def employee_check(work_hours):
    
    current_max = 0    
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
            
        else:
            pass
        
    return (employee_of_month,current_max)

In [170]:
employee_check(work_hours)

('C', 400)

### Lambda Expression: Map and Filter

In [171]:
def square(num):
    return num**2

In [172]:
my_nums = [1,2,3,4,5]

In [173]:
map(square,my_nums)

In [174]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [175]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [179]:
mynames = ['John','Cindy',"Sarah",'Bobb','Tom']

In [180]:
list(map(splicer,mynames))

['even', 'C', 'S', 'even', 'T']